<div class="page-header">
  <h1>
    <%= "User Show" %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary" %>
      <%= link_to 'Back', users_path, class: "btn btn-primary" %>
    </div>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><%= User.human_attribute_name(:email) %>:</dt>
  <dd><%= @user.email %></dd>
  <dt><%= Profile.human_attribute_name(:name) %>:</dt>
  <dd><%= @profile.name %></dd>
  <dt><%= Profile.human_attribute_name(:surname) %>:</dt>
  <dd><%= @profile.surname %></dd>

  <dt><%= Profile.human_attribute_name(:gender) %>:</dt>
  <dd><%= t("gender.f" + @profile.gender.to_s) %></dd>

  <dt><%= Profile.human_attribute_name(:date_of_birth) %>:</dt>
  <dd><%= @profile.date_of_birth %></dd>
  <dt><%= Profile.human_attribute_name(:stackoverflow) %>:</dt>
  <dd><%= @profile.stackoverflow %></dd>
  <dt><%= Profile.human_attribute_name(:github) %>:</dt>
  <dd><%= @profile.github %></dd>
  <dt><%= Profile.human_attribute_name(:twitter) %>:</dt>
  <dd><%= @profile.twitter %></dd>
  <dt><%= Profile.human_attribute_name(:blog) %>:</dt>
  <dd><%= @profile.blog %></dd>
  <dt><%= Profile.human_attribute_name(:website) %>:</dt>
  <dd><%= @profile.website %></dd>
  <dt><%= Profile.human_attribute_name(:bitbucket) %>:</dt>
  <dd><%= @profile.bitbucket %></dd>
  <dt><%= Profile.human_attribute_name(:bio) %>:</dt>
  <dd><%= @profile.bio %></dd>
</dl>

<% if teacher_signed_in? %>
    <h1>Yorumlar</h1>
    <table border="1">
      <th>Title</th>
      <th>Comment</th>
      <% @user.comments.each do |comment| %>
          <tr>
            <td>
              <%= comment.title %>
            </td>
            <td>
              <%= comment.body %>
            </td>
          </tr>
      <% end %>
    </table>

    <%= simple_form_for(@user) do |c| %>
        <%= c.error_notification %>
        <%= c.simple_fields_for :comments, @user.comments.last do |comment| %>
            <%= comment.input :title %>
            <%= comment.input :body, as: :text %>
        <% end %>
        </div>

        <div class="form-actions">
          <%= c.button :submit %>
        </div>
    <% end %>

<% end %>











