<<<<<<< HEAD
<%= simple_form_for @test.profile do |f| %>
    <div class="form-inputs">

      <%= f.input :stackoverflow, as: :string %>
      <%= f.input :twitter, as: :string %>
      <%= f.input :github, as: :string %>
      <%= f.input :blog, as: :string %>
      <%= f.input :bitbucket, as: :string %>
      <%= f.input :bio, as: :text %>

      <%= label_tag(:gender, "Cinsiyet") %>

      <%= radio_button_tag(:gender, "man") %>
      <%= label_tag(:gender_man, "Erkek") %>
      <%= radio_button_tag(:gender, "woman") %>
      <%= label_tag(:gender_woman, "Kadın") %>



    </div>

    <div class="form-actions">
      <%= f.button :submit, "Gönder" %>
    </div>
<% end %>
=======
>>>>>>> ff249c6170305a313920fd571d967d956abad602
