.page-header
  .h1
    Admin Home

%h1 Listing users

%table{:class => "table table-hover"}
  %tr
    %th email
    %th created_at
    %th updated_at
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td=l user.created_at
      %td=l user.updated_at
      %td
        .btn-group
          = link_to 'Show', user
          = link_to 'Edit', edit_user_path(user)
          = link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
