<div class="container">

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
      <h2 class="form-signin-heading">Admins sign in</h2>
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.label :remember_me do %>
          <%= f.check_box :remember_me, :class => "checkbox", :style => "height: 16px !important; width: 16px !important; display: inline !important; margin-right: 4px; margin-top: 2px;" %>Remember me
      <% end %>
      <%= f.button :submit, "Sign in", class: "btn btn-primary btn-block" %>
  <% end %>
  <%= render "admins/shared/links" %>
  <%= link_to "Return home page", root_path, class: "btn btn-default btn-xs" %>
</div> <!-- /contain