<div class="container">

  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f| %>
      <h2 class="form-signin-heading">Admins sign in</h2>
      <%= f.input :email, :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Sign in", class: "btn btn-primary btn-block" %>
  <% end %>
  <%= render "admins/shared/links" %>
  <%= link_to "Return home page", root_path, class: "btn btn-default btn-xs" %>
</div> <!-- /contain