<!DOCTYPE html>
<html lang="en">
<%= render "layouts/header" %>
<body>
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li><%= link_to "Profil", profiles_path, :class => "btn-success" %></li>
      <li class="active"><%= link_to "Kullanıcı Anasayfa", root_path %> </li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-danger") %></li>
    </ul>
    <h3 class="text-muted"> <%= link_to('Les etoiles', root_path) %></h3>
  </div>
  <%= render "layouts/notification" %>
  <%= yield %>

  <%= render "layouts/footer" %>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>